@font-face {
  font-family: 'Brandon Light';
  src: url('../fonts/327A57_0_0.eot');
  src: url('../fonts/327A57_0_0d41d.eot?#iefix') format('embedded-opentype'), url('../fonts/327A57_0_0.woff2') format('woff2'), url('../fonts/327A57_0_0.woff') format('woff'), url('../fonts/327A57_0_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Brandon Regular';
  src: url('../fonts/327A57_1_0.eot');
  src: url('../fonts/327A57_1_0d41d.eot?#iefix') format('embedded-opentype'), url('../fonts/327A57_1_0.woff2') format('woff2'), url('../fonts/327A57_1_0.woff') format('woff'), url('../fonts/327A57_1_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Brandon Thin';
  src: url('../fonts/327A57_2_0.eot');
  src: url('../fonts/327A57_2_0d41d.eot?#iefix') format('embedded-opentype'), url('../fonts/327A57_2_0.woff2') format('woff2'), url('../fonts/327A57_2_0.woff') format('woff'), url('../fonts/327A57_2_0.ttf') format('truetype');
}

@font-face {
    font-family: Kelson;
    src: url('../fonts/Kelson-Light.otf');
}

@font-face {
    font-family: koliko;
    src: url('../fonts/koliko-Regular.ttf');
}

@font-face {
    font-family: arca;
    src: url('../fonts/arcah.woff');
}

@font-face {
    font-family: arcab;
    src: url('../fonts/arca/woff');
}

@font-face {
    font-family: Nexa;
    src: url('../fonts/Nexa.otf');
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-ExtraLight.ttf');
}


.brandonLight {
  font-family: BrandonTextWeb-Light;
  font-weight: normal;
  font-style: normal;
}
.brandonRegular {
  font-family: BrandonTextWeb-Regular;
  font-weight: normal;
  font-style: normal;
}
.brandonThin {
  font-family: BrandonTextWeb-Thin;
  font-weight: normal;
  font-style: normal;
}
.transition {
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
html,
body {
  min-height: 100%;
  height: 100%;
}
body {
  background-color: #000;
  font-family: 'Brandon Regular', sans-serif;
  color: #ffffff;
  overflow-x: hidden;
}
body.menuOpen {
  overflow: hidden;
}
p {
  margin: 0;
}
#wavesMenu {
  display: none;
}
/* MENU */
.fullscreenMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  display: none;
  z-index: 1000;
  overflow: hidden;
}
.fullscreenMenu .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  display: none;
  text-align: center;
  list-style-type: none;
  transform: translate(-50%, -50%);
}
.fullscreenMenu .inner .items {
  margin: 0;
  padding: 0;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.fullscreenMenu .inner .items a {
  color: white;
  font-family: 'Brandon Thin', sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.45;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media (min-width: 768px) {
  .fullscreenMenu .inner .items a {
    font-size: 70px;
  }
}
.fullscreenMenu .inner .items a:hover {
  text-decoration: none;
}
.fullscreenMenu .inner .items a.color1 {
  color: #00f4ff;
}
.fullscreenMenu .inner .items a.color2 {
  color: #00d9ff;
}
.fullscreenMenu .inner .items a.color3 {
  color: #00beff;
}
.fullscreenMenu .inner .items a.color4 {
  color: #0099ff;
}
.fullscreenMenu .inner .matrix {
  margin-top: 10px;
  width: 250px;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media (min-width: 768px) {
  .fullscreenMenu .inner .matrix {
    margin-top: 18px;
    width: 450px;
  }
}
.fullscreenMenu .souDemuthMenuLogo {
  position: absolute;
  width: 14.5px;
  height: 19.5px;
  display: block;
  background: url('');
  background-repeat: no-repeat;
  top: 25px;
  left: 27.5px;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media (min-width: 768px) {
  .fullscreenMenu .souDemuthMenuLogo {
    height: 39px;
    width: 29px;
    top: 50px;
    left: 55px;
  }
}
.fullscreenMenu .menuLink {
  position: absolute;
  bottom: 25px;
  color: white;
  text-transform: uppercase;
  font-size: 8px;
  font-family: 'Brandon Regular', sans-serif;
  letter-spacing: 2px;
  padding: 0;
  margin: 0;
  line-height: 1;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media (min-width: 768px) {
  .fullscreenMenu .menuLink {
    bottom: 30px;
    font-size: 14px;
    letter-spacing: 2px;
  }
}
.fullscreenMenu .menuLink.right {
  right: 27.5px;
}
@media (min-width: 768px) {
  .fullscreenMenu .menuLink.right {
    right: 55px;
  }
}
.fullscreenMenu .menuLink.left {
  left: 27.5px;
}
@media (min-width: 768px) {
  .fullscreenMenu .menuLink.left {
    left: 55px;
  }
}
.mailIcon {
  width: 16px;
  height: 11px;
  display: block;
  top: 29px;
  left: 27.5px;
  z-index: 800;
  position: absolute;
  transform: translateZ(0);
  cursor: pointer;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.mailIcon svg g line,
.mailIcon svg g rect,
.mailIcon svg g polyline {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
}
@media (min-width: 768px) {
  .mailIcon {
    height: 21px;
    width: 31px;
    top: 58px;
    left: 55px;
  }
}
.mailIcon.fixed {
  position: fixed;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/* MENU TOGGLE */
.menuToggle {
  width: 15px;
  height: 12px;
  position: fixed;
  top: 30px;
  right: 27.5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  -o-transition: -o-transofrm 0.5s ease;
  transition: transform .5s ease;
  cursor: pointer;
  z-index: 1200;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media (min-width: 768px) {
  .menuToggle {
    height: 17px;
    width: 30px;
    top: 60px;
    right: 55px;
  }
}
.menuToggle span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: white;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.25s ease;
  -moz-transition: -moz-transform 0.25s ease;
  -o-transition: -o-transform 0.25s ease;
  transition: transform .25s ease;
}
.menuToggle span:nth-child(1) {
  top: 0px;
}
.menuToggle span:nth-child(2),
.menuToggle span:nth-child(3) {
  top: 4px;
}
@media (min-width: 768px) {
  .menuToggle span:nth-child(2),
  .menuToggle span:nth-child(3) {
    top: 8px;
  }
}
.menuToggle span:nth-child(4) {
  top: 8px;
}
@media (min-width: 768px) {
  .menuToggle span:nth-child(4) {
    top: 16px;
  }
}
.menuToggle.open span:nth-child(1) {
  top: 7px;
  width: 0%;
  left: 50%;
}
.menuToggle.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menuToggle.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menuToggle.open span:nth-child(4) {
  top: 7px;
  width: 0%;
  left: 50%;
}
.section.white {
  background-color: white;
}
.section .relative {
  position: relative;
}
.section .sectionHeight {
  min-height: 500px;
}
.section .innerCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.section .innerCenter .sectionLogo {
  height: 39px;
  width: 29px;
  margin-bottom: 70px;
}
.stage {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.stage .pageScroll {
  position: absolute;
  width: 6px;
  height: 20.5px;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  bottom: 25px;
  cursor: pointer;
  z-index: 400;
}
.stage .pageScroll img {
  max-width: 100%;
}
@media (min-width: 768px) {
  .stage .pageScroll {
    height: 41px;
    width: 12px;
    bottom: 35px;
  }
}
.stage .souDemuthLogo,
.stage .souDemuthMenuLogo {
  position: absolute;
  width: 14.5px;
  height: 19.5px;
  display: block;
  background: url('');
  background-repeat: no-repeat;
  top: 25px;
  left: 27.5px;
  z-index: 1200;
}
@media (min-width: 768px) {
  .stage .souDemuthLogo,
  .stage .souDemuthMenuLogo {
    height: 39px;
    width: 29px;
    top: 50px;
    left: 55px;
  }
}
.stage .souDemuthLogo {
  z-index: 800;
}
.stage .wavesWrapper {
  position: absolute;
  left: 50%;
  width: 310px;
  transform: translateX(-46%);
}
.stage .wavesWrapper canvas {
  display: inline;
  overflow: hidden;
}
.stage img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 310px;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .stage .wavesWrapper {
    position: absolute;
    left: 50%;
    width: 450px;
    transform: translateX(-60%);
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .stage img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    transform: translate(-64%, -50%);
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}
@media (min-width: 992px) {
  .stage .wavesWrapper {
    position: absolute;
    left: 50%;
    width: 600px;
    transform: translateX(-60%);
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .stage img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    transform: translate(-64%, -50%);
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}
.intro,
.request {
  position: relative;
}
.intro .container-fluid .sectionLogo,
.request .container-fluid .sectionLogo {
  display: block;
  height: 19.5px;
  width: 14.5px;
  margin: 35px auto 35px auto;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media (min-width: 768px) {
  .intro .container-fluid .sectionLogo,
  .request .container-fluid .sectionLogo {
    height: 39px;
    width: 29px;
    margin: 100px auto 66px auto;
  }
}
.intro .container-fluid p,
.request .container-fluid p {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  line-height: 2.3;
  letter-spacing: 0.6px;
  text-align: center;
  color: black;
  margin-bottom: 30px;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media (min-width: 768px) {
  .intro .container-fluid p,
  .request .container-fluid p {
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 2px;
    margin-bottom: 80px;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}
@media (min-width: 992px) {
  .intro .container-fluid p,
  .request .container-fluid p {
    font-size: 23px;
    line-height: 1.3;
    letter-spacing: 2px;
    margin-bottom: 80px;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}
@media (min-width: 1200px) {
  .intro .container-fluid p,
  .request .container-fluid p {
    font-size: 26px;
    line-height: 1.7;
    letter-spacing: 2px;
    margin-bottom: 80px;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}
.about .quote {
  position: relative;
  height: 250px;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #37ecba;
  background: -moz-linear-gradient(left, #243949 0%, #517fa4 100%);
  background: -webkit-linear-gradient(left, #243949 0%, #517fa4 100%);
  background: linear-gradient(to right, #243949 0%, #517fa4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#243949', endColorstr='#517fa4', GradientType=1);
}
@media (min-width: 768px) {
  .about .quote {
    height: 500px;
  }
}

.about .quote1 {
  position: relative;
  height: 250px;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #37ecba;
  background: -moz-linear-gradient(left, #30cfd0 0%, #330867 100%);
  background: -webkit-linear-gradient(left, #30cfd0 0%, #330867 100%);
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#30cfd0', endColorstr='#330867', GradientType=1);
}
@media (min-width: 768px) {
  .about .quote1 {
    height: 500px;
  }
}


.about .quote2 {
  position: relative;
  height: 250px;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #37ecba;
  background: -moz-linear-gradient(left, #13547a 0%, #80d0c7 100%);
  background: -webkit-linear-gradient(left, #13547a 0%, #80d0c7 100%);
  background: linear-gradient(to right, #13547a 0%, #80d0c7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#13547a', endColorstr='#80d0c7', GradientType=1);
}
@media (min-width: 768px) {
  .about .quote2 {
    height: 500px;
  }
}


.about .quote3 {
  position: relative;
  height: 250px;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #37ecba;
  background: -moz-linear-gradient(left, #616161 0%, #9bc5c3 100%);
  background: -webkit-linear-gradient(left, #616161 0%, #9bc5c3 100%);
  background: linear-gradient(to right, #616161 0%, #9bc5c3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#616161', endColorstr='#9bc5c3', GradientType=1);
}
@media (min-width: 768px) {
  .about .quote3 {
    height: 500px;
  }
}


.about .quote .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.about .quote .inner .quotes {
  display: block;
  margin-bottom: 50px;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 55px;
  text-transform: uppercase;
  line-height: 1px;
  letter-spacing: 6px;
  text-align: center;
  margin-top: -10px;
}
@media (min-width: 768px) {
  .about .quote .inner .quotes {
    margin-bottom: 98px;
    font-size: 115px;
    line-height: 1px;
    letter-spacing: 6px;
    margin-top: -20px;
  }
}
.about .quote .inner p {
  font-family: 'Kelson', sans-serif;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 4px;
  text-align: center;
}
@media (min-width: 768px) {
  .about .quote .inner p {
    font-size: 26px;
    line-height: 1.75;
    letter-spacing: 6px;
  }
}
.about .quote .inner .source {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 9px;
  letter-spacing: 1.5px;
  margin-top: 22.5px;
  line-height: 1.0;
  text-align: center;
}
@media (min-width: 768px) {
  .about .quote .inner .source {
    font-size: 17px;
    letter-spacing: 2.4px;
    margin-top: 43px;
  }
}


.about .quote1 .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.about .quote1 .inner .quotes {
  display: block;
  margin-bottom: 50px;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 55px;
  text-transform: uppercase;
  line-height: 1px;
  letter-spacing: 6px;
  text-align: center;
  margin-top: -10px;
}
@media (min-width: 768px) {
  .about .quote1 .inner .quotes {
    margin-bottom: 98px;
    font-size: 115px;
    line-height: 1px;
    letter-spacing: 6px;
    margin-top: -20px;
  }
}
.about .quote1 .inner p {
  font-family: 'Kelson', sans-serif;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 4px;
  text-align: center;
}
@media (min-width: 768px) {
  .about .quote1 .inner p {
    font-size: 26px;
    line-height: 1.75;
    letter-spacing: 6px;
  }
}
.about .quote1 .inner .source {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 9px;
  letter-spacing: 1.5px;
  margin-top: 22.5px;
  line-height: 1.0;
  text-align: center;
}
@media (min-width: 768px) {
  .about .quote1 .inner .source {
    font-size: 17px;
    letter-spacing: 2.4px;
    margin-top: 43px;
  }
}


.about .quote2 .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.about .quote2 .inner .quotes {
  display: block;
  margin-bottom: 50px;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 55px;
  text-transform: uppercase;
  line-height: 1px;
  letter-spacing: 6px;
  text-align: center;
  margin-top: -10px;
}
@media (min-width: 768px) {
  .about .quote2 .inner .quotes {
    margin-bottom: 98px;
    font-size: 115px;
    line-height: 1px;
    letter-spacing: 6px;
    margin-top: -20px;
  }
}
.about .quote2 .inner p {
  font-family: 'Kelson', sans-serif;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 4px;
  text-align: center;
}
@media (min-width: 768px) {
  .about .quote2 .inner p {
    font-size: 26px;
    line-height: 1.75;
    letter-spacing: 6px;
  }
}
.about .quote2 .inner .source {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 9px;
  letter-spacing: 1.5px;
  margin-top: 22.5px;
  line-height: 1.0;
  text-align: center;
}
@media (min-width: 768px) {
  .about .quote2 .inner .source {
    font-size: 17px;
    letter-spacing: 2.4px;
    margin-top: 43px;
  }
}









.about .quote3 .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.about .quote3 .inner .quotes {
  display: block;
  margin-bottom: 50px;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 55px;
  text-transform: uppercase;
  line-height: 1px;
  letter-spacing: 6px;
  text-align: center;
  margin-top: -10px;
}
@media (min-width: 768px) {
  .about .quote3 .inner .quotes {
    margin-bottom: 98px;
    font-size: 115px;
    line-height: 1px;
    letter-spacing: 6px;
    margin-top: -20px;
  }
}
.about .quote3 .inner p {
  font-family: 'Kelson', sans-serif;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 4px;
  text-align: center;
}
@media (min-width: 768px) {
  .about .quote3 .inner p {
    font-size: 26px;
    line-height: 1.75;
    letter-spacing: 6px;
  }
}
.about .quote3 .inner .source {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 9px;
  letter-spacing: 1.5px;
  margin-top: 22.5px;
  line-height: 1.0;
  text-align: center;
}
@media (min-width: 768px) {
  .about .quote3 .inner .source {
    font-size: 17px;
    letter-spacing: 2.4px;
    margin-top: 43px;
  }
}
.about .portrait {
  height: 250px;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: url('../assets/akhil11.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media (min-width: 768px) {
  .about .portrait {
    height: 350px;
  }
}
@media (min-width: 992px) {
  .about .portrait {
    height: 500px;
  }
}

.about .portrait1 {
  height: 250px;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: url('../assets/prasad.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media (min-width: 768px) {
  .about .portrait1 {
    height: 350px;
  }
}
@media (min-width: 992px) {
  .about .portrait1 {
    height: 500px;
  }
}

.about .portrait2 {
  height: 250px;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: url('../assets/sumit.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media (min-width: 768px) {
  .about .portrait2 {
    height: 350px;
  }
}
@media (min-width: 992px) {
  .about .portrait2 {
    height: 500px;
  }
}

.about .portrait3 {
  height: 250px;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: url('../assets/tanmay.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media (min-width: 768px) {
  .about .portrait3 {
    height: 350px;
  }
}
@media (min-width: 992px) {
  .about .portrait3 {
    height: 500px;
  }
}











.services {
  position: relative;
  padding-bottom: 35px;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media (min-width: 768px) {
  .services {
    padding-bottom: 85px;
  }
}
.services #wavesServices {
  position: absolute;
  bottom: 80px;
  left: 0;
}
@media (min-width: 768px) {
  .services #wavesServices {
    bottom: 120px;
  }
}
.services .sectionLogo {
  display: block;
  height: 19.5px;
  width: 14.5px;
  margin: 50px auto 60px auto;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media (min-width: 768px) {
  .services .sectionLogo {
    height: 39px;
    width: 29px;
    margin: 100px auto 135px auto;
  }
}
.services p {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1.2px;
}
@media (min-width: 768px) {
  .services p {
    font-size: 21px;
    line-height: 1.7;
    letter-spacing: 1.2px;
  }
}
.services p.heading {
  display: block;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 0.5;
  text-align: justify;
  color: white;
  -moz-text-align-last: justify;
  text-align-last: justify;
  text-transform: uppercase;
  letter-spacing: 0;
  padding-top: 5px;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media (min-width: 768px) {
  .services p.heading {
    font-size: 24px;
    line-height: 0.74;
    letter-spacing: 0;
  }
}
.services p.heading:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.services p.heading.color1 {
  color: #fff;
}
.services p.heading.color2 {
  color: #5f4cff;
}
.services p.heading.color3 {
  color: #49efca;
}
.services .dash {
  margin-top: 12px;
  margin-bottom: 17px;
  width: 25px;
  height: 1px;
  display: block;
  background-color: white;
}
@media (min-width: 768px) {
  .services .dash {
    margin-top: 23px;
    margin-bottom: 34px;
    width: 50px;
  }
}
.services .col-sm-4 {
  padding-left: 20px;
  padding-right: 20px;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media (min-width: 768px) {
  .services .col-sm-4 {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 992px) {
  .services .col-sm-4 {
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media (min-width: 1200px) {
  .services .col-sm-4 {
    padding-left: 55px;
    padding-right: 55px;
  }
}
.services .col-xs-12.fixedHeight {
  position: relative;
}
.services .carousel-inner {
  overflow: hidden;
}
.services .carousel-inner .item {
  padding-left: 40px;
  padding-right: 40px;
  height: 250px;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media (min-width: 768px) {
  .services .carousel-inner .item {
    padding-left: 70px;
    padding-right: 70px;
    height: 400px;
  }
}
.services .carousel-indicators {
  bottom: 10px;
  margin-bottom: 0;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media (min-width: 768px) {
  .services .carousel-indicators {
    bottom: 10px;
    margin-bottom: 10px;
  }
}
.services .carousel-indicators li {
  background-color: white;
  border-color: white;
  margin: 1px 7px 1px 7px;
  height: 4px;
  width: 4px;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.services .carousel-indicators li.active {
  background-color: #49efca;
  border-color: #49efca;
  margin: 1px 5px 1px 5px;
  height: 5px;
  width: 5px;
}
@media (min-width: 768px) {
  .services .carousel-indicators li {
    background-color: white;
    border-color: white;
    margin: 1px 10px 1px 10px;
    height: 8px;
    width: 8px;
  }
  .services .carousel-indicators li.active {
    background-color: #49efca;
    border-color: #49efca;
    margin: 1px 10px 1px 10px;
    height: 10px;
    width: 10px;
  }
}
.section.request .sectionLogo {
  margin: 50px auto 35px auto;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media (min-width: 768px) {
  .section.request .sectionLogo {
    margin: 120px auto 75px auto;
  }
}
.section.request p {
  margin-bottom: 40px;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media (min-width: 768px) {
  .section.request p {
    margin-bottom: 110px;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}
.contact .container-fluid .sectionLogo {
  display: block;
  height: 19.5px;
  width: 14.5px;
  margin: 50px auto 60px auto;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media (min-width: 768px) {
  .contact .container-fluid .sectionLogo {
    height: 39px;
    width: 29px;
    margin: 100px auto 115px auto;
  }
}
.contact .container-fluid .matrix {
  margin-top: 10px;
  margin-bottom: 82px;
  max-width: 300px;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media (min-width: 768px) {
  .contact .container-fluid .matrix {
    margin-top: 20px;
    margin-bottom: 105px;
    max-width: 603px;
  }
}
.contact .container-fluid a,
.contact .container-fluid a:hover,
.contact .container-fluid a:active,
.contact .container-fluid a:focus {
  color: white;
  display: block;
  text-decoration: none;
  font-family: 'Brandon Thin', sans-serif;
  font-size: 32px;
  letter-spacing: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .contact .container-fluid a,
  .contact .container-fluid a:hover,
  .contact .container-fluid a:active,
  .contact .container-fluid a:focus {
    font-size: 65px;
  }
}
.contact .container-fluid a .color1,
.contact .container-fluid a:hover .color1,
.contact .container-fluid a:active .color1,
.contact .container-fluid a:focus .color1 {
  color: #00fbff;
}
.contact .container-fluid a .color2,
.contact .container-fluid a:hover .color2,
.contact .container-fluid a:active .color2,
.contact .container-fluid a:focus .color2 {
  color: #00f7ff;
}
.contact .container-fluid a .color3,
.contact .container-fluid a:hover .color3,
.contact .container-fluid a:active .color3,
.contact .container-fluid a:focus .color3 {
  color: #00f2ff;
}
.contact .container-fluid a .color4,
.contact .container-fluid a:hover .color4,
.contact .container-fluid a:active .color4,
.contact .container-fluid a:focus .color4 {
  color: #00eeff;
}
.contact .container-fluid a .color5,
.contact .container-fluid a:hover .color5,
.contact .container-fluid a:active .color5,
.contact .container-fluid a:focus .color5 {
  color: #00e6ff;
}
.contact .container-fluid a .color6,
.contact .container-fluid a:hover .color6,
.contact .container-fluid a:active .color6,
.contact .container-fluid a:focus .color6 {
  color: #00dfff;
}
.contact .container-fluid a .color7,
.contact .container-fluid a:hover .color7,
.contact .container-fluid a:active .color7,
.contact .container-fluid a:focus .color7 {
  color: #00d8ff;
}
.contact .container-fluid a .color8,
.contact .container-fluid a:hover .color8,
.contact .container-fluid a:active .color8,
.contact .container-fluid a:focus .color8 {
  color: #00cfff;
}
.contact .container-fluid a .color9,
.contact .container-fluid a:hover .color9,
.contact .container-fluid a:active .color9,
.contact .container-fluid a:focus .color9 {
  color: #00c0ff;
}
.contact .container-fluid a .color10,
.contact .container-fluid a:hover .color10,
.contact .container-fluid a:active .color10,
.contact .container-fluid a:focus .color10 {
  color: #00b4ff;
}
.contact .container-fluid a .color11,
.contact .container-fluid a:hover .color11,
.contact .container-fluid a:active .color11,
.contact .container-fluid a:focus .color11 {
  color: #00a8ff;
}
.contact .container-fluid a .color12,
.contact .container-fluid a:hover .color12,
.contact .container-fluid a:active .color12,
.contact .container-fluid a:focus .color12 {
  color: #00a0ff;
}
.contact .container-fluid a .color13,
.contact .container-fluid a:hover .color13,
.contact .container-fluid a:active .color13,
.contact .container-fluid a:focus .color13 {
  color: #009dff;
}
.contact .container-fluid a .color14,
.contact .container-fluid a:hover .color14,
.contact .container-fluid a:active .color14,
.contact .container-fluid a:focus .color14 {
  color: #0099ff;
}
.contact .container-fluid a .color15,
.contact .container-fluid a:hover .color15,
.contact .container-fluid a:active .color15,
.contact .container-fluid a:focus .color15 {
  color: #0094ff;
}
.contact .container-fluid a .color16,
.contact .container-fluid a:hover .color16,
.contact .container-fluid a:active .color16,
.contact .container-fluid a:focus .color16 {
  color: #0090ff;
}
.imprint {
  padding-bottom: 200px;
}
.imprint .sectionLogo {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
@media (min-width: 768px) {
  .imprint .sectionLogo {
    padding-bottom: 100px;
  }
}
@media (min-width: 992px) {
  .imprint .sectionLogo {
    padding-bottom: 150px;
  }
}
.imprint .sectionLogo img {
  width: 29px;
  height: 39px;
}
.imprint .header {
  position: relative;
  height: 250px;
}
@media (min-width: 768px) {
  .imprint .header {
    height: 350px;
  }
}
@media (min-width: 992px) {
  .imprint .header {
    height: 500px;
  }
}
.imprint .header #wavesImprint {
  position: absolute;
  left: 0;
}
.imprint .header .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 310px;
  transform: translate(-50%, -52%);
  text-align: center;
}
@media (min-width: 768px) {
  .imprint .header .inner {
    width: 450px;
  }
}
@media (min-width: 992px) {
  .imprint .header .inner {
    width: 600px;
  }
}
.imprint .header .inner span {
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 4px;
  display: block;
  line-height: 1;
}
@media (min-width: 768px) {
  .imprint .header .inner span {
    font-size: 55px;
  }
}
@media (min-width: 992px) {
  .imprint .header .inner span {
    font-size: 70px;
  }
}
.imprint .header .inner span:nth-child(1) {
  font-family: 'Brandon Regular', sans-serif;
  color: #00f4ff;
  margin-bottom: 5px;
}
.imprint .header .inner span:nth-child(2) {
  font-family: 'Brandon Regular', sans-serif;
  color: #00e2ff;
  margin-bottom: 5px;
}
.imprint .header .inner span:nth-child(3) {
  font-family: 'Brandon Thin', sans-serif;
  color: #0099ff;
  margin-bottom: 0;
}
.imprint .header .inner .matrix {
  margin-top: 22px;
  max-width: 300px;
}
@media (min-width: 768px) {
  .imprint .header .inner .matrix {
    margin-top: 27px;
    max-width: 375px;
  }
}
@media (min-width: 992px) {
  .imprint .header .inner .matrix {
    margin-top: 32px;
    max-width: 450px;
  }
}
.imprint h2 {
  font-family: 'Brandon Light', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  margin: 0;
  margin-bottom: 40px;
  margin-top: 110px;
  line-height: 1;
  letter-spacing: 1px;
}
.imprint p,
.imprint li,
.imprint a {
  font-family: 'Brandon Thin', sans-serif;
  line-height: 1.6;
  font-size: 18px;
  margin: 0;
  color: white;
  margin-bottom: 26px;
}
.imprint p.owner,
.imprint li.owner,
.imprint a.owner {
  font-size: 21px;
}
@media (min-width: 768px) {
  .imprint p,
  .imprint li,
  .imprint a {
    font-size: 12px;
  }
}
.imprint a {
  text-decoration: underline;
}
.imprint li {
  margin-bottom: 0;
}


nav ul {
    margin: 0;
    padding: 0;
}
 
    nav ul li {
        display: inline-block;
        list-style-type: none;
         
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; 
    }
     
        nav > ul > li > a {
            color: #aaa;
            display: block;
            line-height: 56px;
            padding: 0 24px;
            text-decoration: none;
        }